* {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    position: fixed;
    z-index: 78;
    background: #FFFFFF;
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.1);
    height: 10%;
}
.navbar-brand{
    margin-left: 7%;
}
.navbar-nav{
    margin-right: 7%;
}
.navbar-nav li a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #262626;
}

.nav-item a:hover {
    color: #FAB510;
    text-decoration: underline;
    text-underline-offset: 0.7em;
}

.bookademo {
    border: none;
    background: #FAB510;
    border-radius: 10px;
    color: #FAB510;
}
.bookademo:hover{
    background-color: white;
    border: 1px solid #FAB510;
    text-decoration: none;
    text-underline-offset: none;
}
.landing_section {
    margin-top: 3.3%;
    background-color: yellow;
    display: none;
}

/* Business Challenges */
.busines_schallanges h2 {
    /* margin-top: -5%; */
    margin-bottom: 3%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    /* identical to box height, or 125% */


    color: #FAB510;
}

.busines_schallanges {
    background: #0E0E0E;
}

.busines_schallanges .row {
    display: flex;
}

.busines_schallanges .row {
    margin-top: 5%;
    margin-bottom: 5%;
}

.second_div {
    display: flex;
    flex-direction: row-reverse;
}

.business_challenges_img {
    width: 60%;
    height: 100%;
    /* margin-left: 20%; */
}

.rightdiv {
    margin-right: 0%;
}

.business_challenges_headingleft {
    background: url('../Images/yellow_left.png');
    background-repeat: no-repeat;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    /* identical to box height, or 167% */
    padding-left: 20%;
    background-size: 100%;
    color: #FFFFFF;
}

.business_challenges_headingright {
    background: url('../Images/yellow_right.png');
    background-repeat: no-repeat;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    /* identical to box height, or 167% */
    padding-left: 20%;
    color: #FFFFFF;
}

.business_challenges_description1 {

    margin-left: 22% !important;
    width: 65%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #DAD9D7;
}

.business_challenges_description {
    margin-left: 20%;
    width: 65%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;

    color: #DAD9D7;
}

/* How Task Works */
.how_task_works {
    background: #FFFFFF;
}

.how_task_works h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    /* identical to box height, or 125% */

    text-align: center;

    color: #FAB510;
}

.how_task_works_desc {
    margin-top: 1%;
    margin-bottom: 2%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */
    color: #262626;
}

.body2_video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
    /* border: 5px solid black; */
    border-radius: 30px;
  }

/* Features */
.features {
    background: #0E0E0E;
}

.cards {
    text-align: center;
}

.features h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    /* identical to box height, or 125% */
    color: #FBC032;
}

.features_desc {
    width: 45%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: auto auto;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    /* or 100% */
    text-align: center;
    color: #DAD9D7;
}

.features_cards {
    padding: 30px;
    border: 1px solid #FBBE2E;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-top: 20px;
    /* margin-left: 7%; */
    width: 90%;
    margin: auto auto;
    min-height: 90%;
    max-height: 90%;
}

.features_img {
    width: 50px;
    height: 50px;
}

.product_individual_features_card_name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    margin-top: 6.94%;
}

.product_individual_features_description {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    letter-spacing: -0.02em;
    color: #DAD9D7;
}

/* Pricings */
.landingImg {
    margin-top: 17%;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #ffffff, #FEEFCC, #FEEFCC, #FEEFCC, #FDEABB, #FDEABB, #FDEABB, #FBCC5A, #FBCC5A, #FBC84C, #FBC84C, #FBC84C, #fab510);
    position: relative;
    top: 10%;
    /* display: block; */
}

.landing-page {
    position: relative;
    margin-bottom: 0%;
    margin: 0';
}

.empty {
    height: 600px;
    width: 100%;
}

.landingCard {
    position: absolute;
    top: 12%;
    left: 28%;
    right: 25%;
    /* width: 100%; */
    z-index: 5;
    text-align: center;
    /* display: block; */
}

.tasktitle {
    font-size: 37px;
    font-weight: 700;
    color:
        rgba(38, 38, 38, 1);
}

.landing_desc {
    font-size: 19px;
    color: rgba(38, 38, 38, 1);
    font-weight: 600;
}

.knowmorebtn {
    padding: 11px 20px 11px 20px;
    color:
        rgba(38, 38, 38, 1) !important;
    font-size: 19px;
    background-color: rgba(255, 255, 255, 1) !important;
    border-radius: 10px;
    border: 2.4px solid #FAB510 !important;
    font-weight: 600;
    transition: 0.4s;
    text-decoration: none;
}
.knowmorebtn a{
    text-decoration: none;
    color: rgba(38, 38, 38, 1);
}
.knowmorebtn a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}
.knowmorebtn:hover {
    background-color: #FAB510 !important;
    color: rgba(255, 255, 255, 1) !important;
}

/* .pricings{
    background: #FAB510;
}
.pricings h2{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 3%;
    color: #262626;

}
.product_individual_features_card_name
{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
.pricing_item{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    padding-left: 0%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
.pricings_startat{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
    color: #FFFFFF;
}
.cards{
    display: flex;
    justify-content: space-between;
}
.pricings_cards{
    width: 80%;
    margin-left:20%;
    margin: auto auto;
    background: rgba(14, 14, 14, 0.97);
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 50px;
    margin-top: 20px;
    min-height: 100%;
    max-height: 100%;
} */
/* Testimonials */
/* .testimonials{
    background-color: #007bff;
    margin-top: 0%;
} */
/* Book a Demo */
.book_a_demo {
    background: #15130F;
}

.book_a_demo .h2 {
    margin-bottom: 5%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    /* identical to box height, or 125% */

    text-align: center;

    color: #FBBE2E;
}

.book_a_demo_desc h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    background: url('./Images/yellow_left.png');
    background-repeat: no-repeat;
    /* identical to box height, or 167% */


    color: #FFFFFF;
}

.book_a_demo_desc {
    margin-bottom: 0%;
    padding-bottom: 0%;
    margin-top: 5%;
    width: 100%;
    height: 100%;
}

.bookademo_form {
    width: 90%;
    min-height: 450px;
    margin-top: 5%;
    background: rgba(14, 14, 14, 0.97);
    border: 1px solid #DAD9D7;
    border-radius: 10px;
    /* margin: auto auto; */
}
.bookademo_img{
    margin-top: 5%;
    /* margin-left: 10%; */
}
.controls{
    padding-left: 5%;
    padding-right: 5%;
}
.bookademo_form h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 5%;
    /* identical to box height, or 140% */


    color: #DAD9D7;
}
.rev{
    flex-direction: column-reverse;
}
.form-group input {
    background: none;
    /* background: #0E0E0E; */
    border: 1px solid #DAD9D7;
    border-radius: 10px;
}

.form-group input::placeholder {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 7px;
    /* identical to box height, or 44% */

    display: flex;
    align-items: center;

    color: #DAD9D7;
}
.itag{
    position: absolute;
    vertical-align: middle;
    margin-top: 5%;
    margin-left: 5%;
    color: yellow;
}
.submit_btn {
    background: #DAD9D7;
    border-radius: 7px;
    width: 60%;
    margin: auto auto;
}
.submit_btn:hover{
    border: none;
}

/* Frequenty asked questions */

.frequenty_asked_questions {
    background: #FFFBFF;
}

.frequenty_asked_questions .h2 {
    margin: 10px auto 30px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    /* identical to box height, or 125% */
    width: 100%;
    color: #262626;
}

.accordion-info {
    font-size: 19px;
    transition: 0.8s;

}

.container {
    max-width: 970px;
}

/* div[class*='col-'] {
    padding: 0 30px;
} */

.wrap {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

a:focus,
a:hover,
a:active {
    outline: 0;
    text-decoration: none;
}

.panel {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #fff;
    background: none;
    box-shadow: none;
}

.panel:last-child {
    border-bottom: none;
}

.panel-group>.panel:first-child .panel-heading {
    border-radius: 4px 4px 0 0;
}

.panel-group .panel {
    border-radius: 0;
}

.panel-group .panel+.panel {
    margin-top: 0;
}

.panel-heading {
    border-radius: 0;
    border: none;
    color: #fff;
    padding: 0;
}

.panel-title a {
    display: block;
    color: #fff;
    padding: 15px;
    position: relative;
    font-size: 22px;
    font-weight: 400;
}

.panel-body {
    background: #fff;
}

.panel:last-child .panel-body {
    border-radius: 0 0 4px 4px;
}

.panel:last-child .panel-heading {
    border-radius: 0 0 4px 4px;
    transition: border-radius 0.3s linear 0.2s;
}

.panel:last-child .panel-heading.active {
    border-radius: 0;
    transition: border-radius linear 0s;
}

/* #bs-collapse icon scale option */

.panel-heading a:before {
    content: '\e146';
    position: absolute;
    font-family: 'Material Icons';
    right: 5px;
    top: 10px;
    font-size: 24px;
    transition: all 0.5s;
    transform: scale(1);
}

.panel-heading.active a:before {
    content: ' ';
    transition: all 0.5s;
    transform: scale(0);
}

#bs-collapse .panel-heading a:after {
    content: ' ';
    font-size: 24px;
    position: absolute;
    font-family: 'Material Icons';
    right: 5px;
    top: 10px;
    transform: scale(0);
    transition: all 0.5s;
}

#bs-collapse .panel-heading.active a:after {
    content: '\e909';
    transform: scale(1);
    transition: all 0.5s;
}

/* #accordion rotate icon option */

#accordion .panel-heading a:before {
    content: '\e316';
    font-size: 24px;
    position: absolute;
    font-family: 'Material Icons';
    right: 5px;
    top: 10px;
    transform: rotate(180deg);
    transition: all 0.5s;
}

#accordion .panel-heading.active a:before {
    transform: rotate(0deg);
    transition: all 0.5s;
}

details {
    /* width: 75%; */
    min-height: 5px;
    max-width: 900px;
    padding: 45px 70px 45px 45px;
    margin: 0 auto;
    position: relative;
    font-size: 22px;
    border-radius: 15px;
    box-sizing: border-box;
    transition: all .3s;
    margin-bottom: -3%;
}

details+details {
    margin-top: 20px;
}
details>summary {
    list-style-type: '';
}

details[open] {
    min-height: 50px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    /* or 117% */
    color: #868781;
    /* background-color: #f6f7f8; */
    /* box-shadow: 2px 2px 20px rgba(0, 0, 0, .2); */
}

details p {
    padding-top: 3%;
    color: #96999d;
    font-weight: 300;
}

summary {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height, or 117% */
    color: #868781;
    cursor: pointer;
}

summary:focus {
    outline: none;
    color: #FAB510;
}

summary:focus::after {
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;

    /* box-shadow: 0 0 0 5px rebeccapurple; */
}

summary::-webkit-details-marker {
    display: none;
}

summary::marker {
    display: none;
}

.control-icon {
    /* fill: rebeccapurple; */
    transition: .3s ease;
    pointer-events: none;
    float: right;
}

.control-icon-close {
    display: none;
}

details[open] .control-icon-close {
    display: initial;
    transition: .3s ease;
}

details[open] .control-icon-expand {
    display: none;
}

/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#footer {
    background: #0E0E0E;
}

#footer h5 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

#footer a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #DAD9D7;
}

#footer ul.social li:hover a i {
    font-size: 30px;
    margin-top: -10px;
}

.accordion-title {
    font-size: 21px;
}

.footerInfo {
    color: rgba(218, 217, 215, 1);
    font-size: 17px;
}

.developeby {
    color: rgba(226, 226, 226, 1);
    font-weight: 600;
    font-size: 19px;
}

.endInfo {
    color: rgba(231, 231, 231, 1);
    font-size: 16px;
    font-weight: 500;
}
footer{
    background: #0E0E0E;
    padding-top: 50px;
  }
  .pulsel {
    margin-bottom: 30px;
}
footer h1 {
    width: 70%;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #E7E7E7;
    margin-bottom: 20px;
}
footer h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #E2E2E2;
    margin-bottom: 30px;
}
footer ul {
    list-style-type: none;
}
footer ul li {
    color: #DAD9D7;
}
footer ul li:hover,.plinks:hover {
    color: #e6e5e4 !important;
}
.footer_links:hover{
    color: green !important;
}
.nfc1 {
    margin-bottom: 30px;
    
}
ul {
    padding-left: 0;
}
footer h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.9;
    margin-bottom: 30px;
    margin-top: 30px;
}
footer li {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #E7E7E7;
    margin-bottom: 20px;
}
footer a {
    text-decoration: none;
    color: white;
}
@media(max-width:1163px) {
    .tasktitle {
        font-size: 31px
    }

    .landingCard {
        top: 17%;
    }

    .landingImg {
        margin-top: 20%;
    }

    .landingImg {
        height: 490px;
    }
}

@media (max-width:970px) {
    .landingImg {
        margin-top: 23%;
    }

    .landingCard {
        top: 20%;
    }

    .tasktitle {
        font-size: 29px;

    }

    .landing_desc {
        font-size: 16px;
    }
}

@media (max-width:870px) {
    .tasktitle {
        font-size: 27px;
    }

    .knowmorebtn {
        padding: 9px 17px 9px 17px;

    }
}
.iframecontainer {
    position: relative;
    left: 10%;
    overflow: hidden;
    width: 80%;
    padding-top: 40%;
    border-radius: 10px;
    margin-bottom: 50px;
  }
@media (max-width:767px) {
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }

    .landing_desc {
        font-size: 15px;
    }
    .row{
        flex-direction: column-reverse;
    }
    .business_challenges_img{
        width: 50%;
    }
    .iframecontainer{
        width: 90%;
        position: relative;
        left: 5%;
        height: 300px;
      }
}

@media (min-width: 320px) and (max-width: 480px) {
    

    /* Business Challenges */
    .busines_schallanges h2 {
        margin-top: 10%;
        font-weight: 700;
        font-size: 20px;
        line-height: 40px;
    }

    .business_challenges_description {
        margin-left: 0%;
        margin-right: 3%;
        width: 100%;

    }

    .business_challenges_headingleft {
        /* background: url('./Images/yellow_left_responsive.png') !important; */
        /* background-repeat: no-repeat; */
        margin-left: 0%;
        font-weight: 600;
        font-size: 16px;
        line-height: 40px;
    }

    .busines_schallanges .row {
        flex-direction: column-reverse;
    }

    .business_challenges_description {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
    }

    .business_challenges_headingright {
        font-weight: 600;
        font-size: 16px;
        line-height: 40px;
    }

    /* How Task Works */
    .how_task_works h2 {
        font-weight: 700;
        font-size: 20px;
        line-height: 40px;
    }

    .how_task_works_desc {
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
    }

    /* Features */
    .features h2 {
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
    }

    .features_desc {
        width: 70%;
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;

    }

    .features_cards {
        width: 89%;
        margin: auto auto;
        /* height: 30vh; */

    }

    .features_img {
        width: 15%;
        height: 15%;
    }

    .bookademo_form {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .submit_btn {
        width: 60%;
        margin: auto auto;
    }

    .bookademo_img {
        margin-bottom: 0%;
        padding-bottom: 0%;
        margin-top: 10%;
        width: 100%;
        height: 100%;
        max-width: 300px;
    }


}

@media (min-width: 481px) and (max-width: 767px) {
    
    

    .contact-form {
        margin-left: 10%;
        margin-right: 10%;
    }

    .features_cards {
        width: 80%;
        margin-right: 10%;
        margin-left: 10%;
    }

    .bookademo_form {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .submit_btn {
        width: 60%;
        margin: auto auto;
    }

    .bookademo_img {
        margin-bottom: 0%;
        padding-bottom: 0%;
        margin-top: 10%;
        width: 100%;
        max-width: 440px;
        height: 100%;
        margin: auto auto;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    

    .bookademo_img {
        margin-bottom: 0%;
        padding-bottom: 0%;
        margin-top: 10%;
        max-width: 400px;
        height: auto;
    }

}

@media screen and(max-width:700px) {
    .accordion-title {
        font-size: 11px;
    }

    .bookademo_img {
        width: 50px;
        height: 100px;

    }
}

@media (max-width:606px) {
    .accordion-title {
        font-size: 11px;
    }

    .landingCard {
        top: 16%;
    }

    .landingImg {
        margin-top: 31%;
    }
}